<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.QRCode.mapper.FoodMapper">
	<select id="selectFoodQRCode" parameterType="String" resultType="com.gd.QRCode.vo.Food">
		SELECT
			food_name foodName,
			ingredient,
			description
		FROM food
		WHERE food_name like #{foodName}
	</select>
	
	<select id="selectFoodList" resultType="com.gd.QRCode.vo.Food">
		SELECT DISTINCT food_name foodName FROM food
	</select>
</mapper>